# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# If you collect static files outside of static/
static/

# Environment variables
.env
*.env

# Virtual environments
venv/
ENV/
env/
.venv/

# PyCharm / VS Code / other IDEs
.idea/
.vscode/
*.swp
*.swo

# Byte-compiled / optimized / DLL files
*.dll
*.so
*.dylib

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.coverage
*.cover
*.py,cover
.hypothesis/
htmlcov/
.tox/
.nox/
.pytest_cache/

# Celery beat schedule file
celerybeat-schedule

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db
